# fly.toml app configuration file generated for mk-school-finder on 2026-02-07T09:40:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mk-school-finder'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [http_service.checks]
    [http_service.checks.health]
      interval = "15s"
      timeout = "5s"
      grace_period = "30s"
      method = "GET"
      path = "/api/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
