# fly.toml app configuration file generated for school-finder on 2026-02-06T17:45:58Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'school-finder'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[mounts]]
  source = 'school_data'
  destination = '/app/data'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
